.hide-header{
  height: 50px;
}

.wrapper{
  margin-top: 15px;
  padding-bottom: 30px;
}
.wood-box{
  background-color: rgba(0,0,30,1.0);
}
.metal-box{
  background-color: rgba(105,127,157,1.0);
}
.paper-box{
  background-color: rgba(102,102,0,1.0);
}

.boxname{
  width:100%;
  margin: 0 auto;
}
.links{
  width:180px;
  margin: auto;
  padding-top:10px;
  margin-bottom: 30px;
}

.box-name h1{
  color:white;
  font-size: 40px;
  text-align: center;
  padding-top: 65px;
  font-weight:normal;
}

.box-name h3{
  color:white;
  font-size: 23px;
  text-align: center;
  font-weight: normal;
}

.links a{
  color:rgba(0,204,255,1.0);
}

.link-left{
  float:left;
}
.link-right{
  float:right;
}

.img{
  height: 500px;
  margin-left: 17%;
  margin-right: 15%;
  padding:20px;
  padding-top: 40px;
}
.img{
  position: relative;
}

#nezumi{
  position: absolute;
  top:0px;
  right:0px;
  display: none;
}

#nezumi2{
  position: absolute;
  top:0px;
  right:0px;
  display: none;
}

#nezumi3{
  position: absolute;
  top:0px;
  right:0px;
  display: none;
}

#hari1{
  position: absolute;
  top:0px;
  right:0px;
  display: none;
}

#hari2{
  position: absolute;
  top:0px;
  right:0px;
  display: none;
}

#hari3{
  position: absolute;
  top:0px;
  right:0px;
  display: none;
}
